/* CssFooter.css */

#footerDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #333; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  padding: 40px;
  position: relative; /* Added position */
 
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  /* color: #fff; */
}

p {
  font-size: 16px;
  margin-bottom: 5px;
  /* color: #fff; */
  width:90%;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

button:hover {
  opacity: 0.7;
}

/* Updated CSS for mediaData */
#footerDiv > div:nth-child(2) {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-top: 20px; */
  /* margin-bottom: 30px; */
  margin-right: 500px;
  /* border: 2px solid red; */
  padding-bottom: 30px;
  
}

#footerDiv > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#footerDiv > div:nth-child(2) > div:last-child {
  margin-right: 0;
}


#aboutsection {
  margin-top: 20px;
  /* color: #fff; */
  /* flex-basis: 25%; */
  /* border: 2px solid red; */
  /* padding-left: 20px; */

}

#aboutsection h2 {
  /* color: #fff; */
  margin-top: 0;
}

#aboutsection p {
  margin: 5px 0;
  /* color: #fff; */
}


#support, #vetsection, #aboutsection{
  margin-top:58px;
  /* flex-basis: 50%; */


}