#parent{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 201, 185);
}

#form{
  height: auto;
  width: 320px;
  background-color: #ffffff;
  border:none;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   padding-top: 5px;
   margin-top: 90px;
   margin-bottom: 100px;
}

#form>div{
  margin-top: 15px;
  padding-left: 20px;
  position:relative
}
#form h2{
  color:purple;
}
.form-input {
  height:40px;
  width:90%;
  outline: none;
  color:purple;
  padding-left: 5px;
 border-radius: 2px;
  border: 1px solid rgb(68, 66, 66);
}
#form>div>span{
 color:red
}
.form-label{
  position:absolute;
  top:0.5rem;
  left:1.8rem;
  color:rgb(103, 99, 99);
  color:purple;
 }

 .form-input:focus ~ .form-label,.form-label.active{
  top:-0.8rem;
  left:1.9rem;
  font-size: 10px;
  background: #fff;
  padding: 5px;
  border-color: aqua;
}

#signup-btn{
  background-color: rgb(242, 224, 69);
  border:none;
  border-radius: 5px;
  height:40px;
  width:93%
}
#signup-btn:hover{
  background-color:rgb(230, 216, 95);
  color: black;
}

#google-btn{
  width:93%;
  height:40px;
  background-color:dodgerblue;
  color:#fff;
  border-radius: 5px ;
  border:none
}
#links{
  text-align: center;
  line-height:18px;
}

.google-icon{
  color:white;
  height:80%;
}





