/* CssNavbar.css */

#Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: green;
  padding: 15px;
  width: 100%;
  position: fixed;
  margin-top: -90px;
  font-weight: bolder;
  /* margin-bottom: 200px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

#profile {
  display: flex;
  align-items: center;
}

#profile #profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: black;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bolder;
}

#login-btn {
  background-color: #4287f5;
  padding: 8px 16px;
  border-radius: 4px;
  
}

#login-btn:hover {
background-color: rgb(95, 138, 11);
color: white;
}

button:hover {
  opacity: 0.7;
}
