
/* #Nav{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
} */
/* .logo{
    height: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
} */
/* #searchLogin-btn{
    margin-top: 20px;
    width: 40%;
    height: 40px;
} */

/* #profile{
    color: black;
    width: 35%;
    display: flex;
    justify-content: space-around;
} */
#profilePic{
    margin-top: 8px;
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius: 50%;
}
button{
    border-radius: 5%;
}

#Nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

