

#doc-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.doc-card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  
}
.doc-card button{
    padding: 10px;
    background-color:#4287f5;
    border: none;
    color: white;
    border-radius: 5px;


}
#avatar{
    height: 200px;
    width: 270px;
    border-radius: 10px;
}
#select-pet{
    margin: 20px 0 20px 0;
    margin-left:45% ;
    padding: 10px;
    border: none;
    border-bottom:thin solid black ;
    color: #4287f5;
    font-weight: bolder;
    font-size: 20px;
   text-align: center;
    /* text-align: center; */
}